// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-holder {
  max-height:85vh;
}

.panel-heading .btn {
  margin-left: 5px;
  margin-top: 3px;
  //padding-top: 5px;

}

.list-group {
  max-height: calc(85vh - 25px);
  overflow-y: auto;
  overflow-x: hidden;
}

.panel-content {
  padding:15px;
}